@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

.font-hand {
  font-family: 'Caveat', cursive;
}
:root {
  --font-sans: 'Montserrat', sans-serif;
  --color-primary: #22c55e; /* Verde principal */
  --color-primary-dark: #16a34a; /* Verde hover */
  --color-secondary: #0f172a; /* Azul oscuro hero */
  --color-accent: #38bdf8; /* Azul acento */
  --color-background: #0b1120; /* Fondo oscuro */
  --color-surface: #111827; /* Cards oscuras */
  --color-muted: #6b7280; /* Texto secundario */
  --color-light: #f3f4f6; /* Secciones claras */
  --color-white: #ffffff;
}

* {
  font-family: 'Montserrat';
}

/* Ajustes imágenes de botones */
.social-btn-img {
  transition:
    transform 0.3s ease,
    opacity 0.3s;
}
.social-btn-img:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

/* Hover Cards Ecosistemas */
.card-hover-effect {
  transition: all 0.3s ease;
}
.card-hover-effect:hover {
  transform: translateY(-5px);
  box-shadow:
    0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

/* Colores Base */
.text-collegeOrange {
  color: #ff6b00;
}
.text-teal {
  color: #0dbcc9;
}
.text-accentPink {
  color: #e91e63;
}
.text-navy {
  color: #171c24;
}
.bg-navy {
  background-color: #171b21;
}
.text-cyan-bright {
  color: #08be66;
}
.bg-cyan-bright {
  background-color: #08be66;
}
.bg-dark-nav {
  background-color: #111319;
}
.text-metanoiaPink {
  color: #d5005f;
}

.bg-hero-space {
  background-image:
    linear-gradient(to bottom, rgba(23, 25, 28, 0.385), rgba(28, 28, 60, 0.385)),
    url('./assets/images/fondo_espacio.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.agora-bg {
  background: linear-gradient(180deg,rgba(12, 14, 14, 1) 50%, rgba(35, 42, 56, 1) 100%);
}
